@import "variables";
import 'normalize.css/normalize.css'
import 'highlight.js/styles/github-gist.css'
* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  overflow: auto;
  -webkit-font-smoothing: antialiased;
}

code {
  padding: 2px;
  font-size: 14px !important;
}

pre {
  padding: 20px;
  margin: 1.2em 0;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  overflow: auto;
  background-color: #f9fafc;
  border: 1px solid #eaeefb;
  border-radius: 5px;
}

a {
    text-decoration: none;
}
